<style>
#display_url a {
	font-size: 3em;
	color: #000;
}
#display_url1 a {
	font-size: 2em;
	color: #000;
}

#btn_qr_fullscreen {	
	font-size: 3em;
	color: #000;
	vertical-align: top;	
}

#backgroundPopup{
	display:none;
        z-index:1041;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/        
	height:100%;
	width:100%;
	top:0;
	left:0;        
	background:rgba(0,0,0,.7);        
        text-align: center;        
}

/* Big QR-Code zoomed on click*/
#qr_code_big{
        display:inline-block;
        z-index:1042;
	position:relative;
        top: 20px;                
	padding:12px;
	font-size:1.8em;
	background:rgba(255,255,255,1);
	border:2px solid #cecece;
}

#qr_code_image{
	height:800px;
}

:-webkit-full-screen img {
  width: auto;
  height: 100%;
}
:-moz-full-screen img {
  width: auto;
  height: 100%;
}

a.increaseFont,a.decreaseFont {
	border: 1px solid #000;
	margin-top: 10px;
	padding: 5px;
	display: inline-block;
	color: #000;
	text-decoration: none;
}

a.increaseFont:hover,a.decreaseFont:hover {
	border: 1px solid #fff;
	color: #fff;
	background-color: #000;
	text-decoration: none;
}

.start_button {
	font-family: Arial;
	color: #ffffff ! important;
	text-decoration: none ! important;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	text-shadow: 1px 1px 3px #666666;
	border: solid #003366 0px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#178feb),
		to(#295a8a) );
	background: -moz-linear-gradient(top, #178feb, #295a8a);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#178feb,
		endColorStr=#295a8a );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#178feb,
		endColorStr=#295a8a );
	display: inline-block; /* IE is so silly */
}

.start_button:hover {
	background: #325e80;
}

.stop_button {
	font-family: Arial;
	color: #ffffff ! important;
	text-decoration: none ! important;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	text-shadow: 1px 1px 3px #666666;
	border: solid #003366 0px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#eb1717),
		to(#7a1d1d) );
	background: -moz-linear-gradient(top, #eb1717, #7a1d1d);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eb1717,
		endColorStr=#7a1d1d );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eb1717,
		endColorStr=#7a1d1d );
	display: inline-block; /* IE is so silly */
}

.stop_button:hover {
	background: #7d0f0f;
}
</style>
<script type="text/javascript" language="javascript">
	/**
	 * Source: http://www.shopdev.co.uk/blog/text-resizing-with-jquery/
	 **/
	 
	//0 means hidden; 1 means visible;
	 var popupStatus = 0;
	
	 function loadPopup(elementId){
		//loads popup only if it is disabled
                if(popupStatus==0){
                    $("#backgroundPopup").fadeIn("slow");
                    $(elementId).fadeIn("slow");
                    popupStatus = 1;
		 }
	}
	
	function disablePopup(elementId){
		//disables popup only if it is enabled
		if(popupStatus==1){
                    $("#backgroundPopup").fadeOut("slow");
                    $(elementId).fadeOut("slow");
                    popupStatus = 0;
		}
	}	 

	$(document).ready(function() {

		// Reset Font Size
		var originalFontSize = $('#display_url1').css('font-size');
		$(".resetFont").click(function() {
			$('html').css('font-size', originalFontSize);
		});
		// Increase Font Size and QR-Cde
		$(".increaseFont").click(function() {
                    var currentFontSize = $('#display_url1').css('font-size');
                    var currentFontSizeNum = parseFloat(currentFontSize, 10);
                    var newFontSize = currentFontSizeNum * 1.2;
                    $('#display_url1').css('font-size', newFontSize);
                       
                    var currentQRSize = $('#qr_code_image').css('height');
                    var currentQRSizeNum = parseFloat(currentQRSize, 10);
                    var newQRSize = currentQRSizeNum * 1.2;
                    $('#qr_code_image').css('height', newQRSize);
        
                    return false;                        
		});
		// Decrease Font Size and QR-Cde
		$(".decreaseFont").click(function() {
                    var currentFontSize = $('#display_url1').css('font-size');
                    var currentFontSizeNum = parseFloat(currentFontSize, 10);
                    var newFontSize = currentFontSizeNum * 0.8;
                    $('#display_url1').css('font-size', newFontSize);

                    var currentQRSize = $('#qr_code_image').css('height');
                    var currentQRSizeNum = parseFloat(currentQRSize, 10);
                    var newQRSize = currentQRSizeNum * 0.8;
                    $('#qr_code_image').css('height', newQRSize);

                    return false;
		});
		
		// display QR Code in fullscreen
                $("#btn_qr_fullscreen").click(function() {

                    //load popup
                    loadPopup("#qr_code_big");		 
                });
		
	
		//Click out event!
                $("#backgroundPopup").click(function(){
                    disablePopup("#qr_code_big");		
                });
                
		//Press Escape event!
		$(document).keypress(function(e){
			if(e.keyCode==27 && popupStatus==1){
				disablePopup("#qr_code_big");
			}
		});
	});
</script>

<center>
	{STOP_LINK}
	
	<div  id="qr_code">            
		<img  src='{IMAGE_URL}' alt='QR-Code' /> 
            <div id="display_url">
                <a href="#" title="For full view" id="btn_qr_fullscreen" class="cool_button" >
                    <img src="./Customizing/global/plugins/Services/Repository/RepositoryObject/MobileQuiz/templates/images/zoom.png"  width="50" height="50"/>                
                </a>
                <br />
                <a href="{QUIZ_URL}">{QUIZ_URL}</a> <br />
            </div>		
	</div>
        
	
        <div id="backgroundPopup">
            <div  id="qr_code_big"> 
                <img  id="qr_code_image" src='{IMAGE_URL}' alt='QR-Code' /> 
                <div id="display_url1">
                    <a href="{QUIZ_URL}">{QUIZ_URL}</a>      
                </div>

                <div id="zoom">
                    <a href="#" title="Increase QR-code size" class="increaseFont">
                        <img src="./Customizing/global/plugins/Services/Repository/RepositoryObject/MobileQuiz/templates/images/max.png"  width="25" height="25"/>
                    </a>
                    &nbsp;
                    <a href="#" title="Decrease QR-code size." class="decreaseFont">
                        <img src="./Customizing/global/plugins/Services/Repository/RepositoryObject/MobileQuiz/templates/images/min.png"  width="25" height="25"/>
                    </a>
                </div>                
            </div>            
        </div>	
</center>