<tr class="{CSS_ROW}">
    <td>
        {VAL_SHOW_CHOICES_HREF}
        {VAL_TEXT}
    </td>
    <td>
        {VAL_TYPE}
    </td>
    <td>
        {VAL_CHOICES}
    </td>
    <td>
        {VAL_EDIT_QUESTION_HREF}
        {VAL_EDIT_QUESTION_TXT}
    </td>
    <td>
        {VAL_DELETE_QUESTION_HREF}
        {VAL_DELETE_QUESTION_TXT}
    </td>
    <td>
        {VAL_ARROW_UP_HREF}
        {VAL_ARROW_UP_TXT}
    </td>
    <td>
        {VAL_ARROW_DOWN_HREF}
        {VAL_ARROW_DOWN_TXT}
    </td>
</tr>