<tr class="{CSS_ROW}">
    <td>
        {VAL_SHOW_ROUND_RESULTS_HREF}
        {VAL_ROUND_NAME}
    </td>
    <td>
        {VAL_ANSWER_COUNT}
    </td>
    <td>
        {VAL_DATE}
    </td>
    <td>
        {VAL_STATUS}
        {VAL_CHANGE_STATUS_HREF}
        {VAL_CHANGE_STATUS}
        </select>
    </td>
    <td>
        <a href="javascript:;" onclick="jQuery('#round{VAL_ROUND_ID}').toggle(300)">{VAL_SHOW_QR}</a>
        |
        <a href="{VAL_QUIZ_URL}" target="_blank" >{VAL_OPEN_QUIZ}</a>
        |
        {VAL_DELETE_ROUND_HREF}
        {VAL_DELETE_ROUND_TXT}
    </td>
</tr>

<!-- QR Code, it is there but hidden and openes when clicked on "Show QR-Code"  -->
<tr class="{CSS_ROW}" id="round{VAL_ROUND_ID}" style="display: none;">
    <td colspan="5">
        <style>
            #display_url {
                text-align: center;
            }
            #display_url a {
                font-size: 3em;
                color: #000;
            }
        </style>
        <div id="display_url">
            <img
                src='{VAL_IMAGE_URL}'
                alt='QR-Code' /> 
            <br />
            <a href="{VAL_QUIZ_URL}">{VAL_QUIZ_URL}</a> <br />
        </div>
    </td>
</tr>