<tr class="{CSS_ROW}">
    <td>
        <a href="{VAL_SHOW_ROUND_RESULTS_HREF}">
        {VAL_ROUND_NAME}
        </a>        
    </td>
    <td>
        {VAL_ANSWER_COUNT}
    </td>
    <td>
        {VAL_START_DATE}
    </td>
    <td>
        {VAL_END_DATE}
    </td>
    <td>
    	<select class="change-status" onchange="javascript: window.location.href = $(this).val();">
    		<option value="{VAL_STATUS_INACTIVE_HREF}" {VAL_STATUS_INACTIVE_SELECTED}>{VAL_STATUS_INACTIVE}</option>
	        <option value="{VAL_STATUS_ACTIVE_HREF}" {VAL_STATUS_ACTIVE_SELECTED}>{VAL_STATUS_ACTIVE}</option>
	        <option value="{VAL_STATUS_PASSIVE_HREF}" {VAL_STATUS_PASSIVE_SELECTED}>{VAL_STATUS_PASSIVE}</option>
        </select>
    </td>
    <td>
        <a href="javascript:;" onclick="jQuery('#round{VAL_ROUND_ID}').toggle(300)">{VAL_SHOW_QR}</a>
        |
        <a href="{VAL_QUIZ_URL}" target="_blank" >{VAL_OPEN_QUIZ}</a>
        |
        <a href="{VAL_DELETE_ROUND_HREF}" onclick="if(!confirm('{VAL_DELETE_ROUND_MESSAGE}')) {return false; }" >{VAL_DELETE_ROUND_TXT}</a>        
    </td>
</tr>

<!-- QR Code, it is there but hidden and openes when clicked on "Show QR-Code"  -->
<tr class="{CSS_ROW}" id="round{VAL_ROUND_ID}" style="display: none;">
    <td colspan="5">
        <style>
            #display_url {
                text-align: center;
            }
            #display_url a {
                font-size: 3em;
                color: #000;
            }
        </style>
        <div id="display_url">
            <img
                src='{VAL_IMAGE_URL}'
                alt='QR-Code' /> 
            <br />
            <a href="{VAL_QUIZ_URL}">{VAL_QUIZ_URL}</a> <br />
        </div>
    </td>
</tr>