@CHARSET "UTF-8";

/* -- CHOICE Chart--------------------------------------------------------------------- */

.choice-chart-div{
        border:1px solid #bbbbbb;
        background: #e9e9e9;
        margin-bottom: 20px;
        padding: 0px 7px 7px 7px;
}
.choice-chart-div img {
    max-height: 300px;
    max-width: 600px;
}
.choice-chart-title {
    font-size: 1.5em;
    line-height: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
}    
.choice-chart-content{
    
}
.choice-chart-labels{
    float:left;
    width: 20%;
    height:350px;
}    
.choice-chart-label{        
    width:100%;
    overflow: auto; 
    border-bottom: 1px solid #dddddd;
}
.choice-chart-label-text{          
    width:100%;
    text-align: right;
    padding-right: 10px;
}    
.choice-chart-plot{
    float:left;
    width: 80%;
}
.choice-chart-canvas{
    height: 350px !important;
}
    
/* -- TEXT Chart --------------------------------------------------------------------- */

.text-chart-div{
        border:1px solid #bbbbbb;
        background: #e9e9e9;
        margin-bottom: 20px;
        padding: 0px 7px 7px 7px;
}
.text-chart-top {
	
}
.text-chart-title {
    font-size: 1.5em;
    line-height: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
    
    float: left;
} 
.text-chart-buttons {
	float: right;
}
.text-chart-content {
	margin:10px;
	background-color: #F9F9F9;
	border-radius: 4px;
	border: 1px solid F0F0F0;
}
.text-chart-answer {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px 5px 5px 10px;
	border-bottom: 1px solid #E0E0E0;
}

.text-chart-answer p {
	float: left;
}


/* -- MIXED STUFF --------------------------------------------------------------------- */
.btn-minor {
	border: 1px solid #557196;
	background-color: #F0F0F0;
	margin-top: 2px;
}
.btn-minor:hover {
	background-color: #FAFAFA;
	color: #222222;
}
.button-remove {
	margin-top: 10px;
	float: right;
}


.template {
	display: none;
}